# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# Logs
logs/

# Models
models/*.pkl
models/*.joblib

# MLflow
mlruns/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
# Dataset
data/*.csv